allure-python-commons==2.6.3
Appium-Python-Client==0.34
BeautifulReport==0.1.2
cryptography==2.3.1
ddt==1.2.1
enum34==1.1.6
Faker==0.9.0
idna==2.7
injson==0.2.2
lxml==4.3.0
more-itertools==5.0.0
namedlist==1.7
pycparser==2.18
PyMySQL==0.9.3
pytest==3.8.0
pytest-allure-adaptor==1.7.10
pytest-assume==1.2.2
python-dateutil==2.7.3
PyYAML==5.1
requests==2.23.0
selenium==3.14.1
text-unidecode==1.2
urllib3==1.23
