allure-python-commons==2.6.3
Appium-Python-Client==0.34
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
BeautifulReport==0.0.9
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
colorama==0.4.1
cryptography==2.3.1
ddt==1.2.1
enum34==1.1.6
Faker==0.9.0
idna==2.7
injson==0.2.2
lxml==4.3.0
more-itertools==5.0.0
namedlist==1.7
ntplib==0.3.3
pathlib==1.0.1
pluggy==0.8.1
py==1.7.0
pycparser==2.18
PyMySQL==0.9.3
pytest==3.8.0
pytest-allure-adaptor==1.7.10
pytest-assume==1.2.2
python-dateutil==2.7.3
PyYAML==5.1
requests==2.22.0
selenium==3.14.1
six==1.11.0
sweetest==0.8.34
text-unidecode==1.2
urllib3==1.23
xlrd==1.2.0
XlsxWriter==1.1.2
